In [63]:
import numpy as np
import pandas as pd

import scipy.stats 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
sgns = pd.read_csv('SNGS_okt-may_v2.csv')
sgns

,Unnamed: 0,Дата торгов,Код инструмента,"Сделок, шт.",Объем,Срвзв.цена,Первая,Минимум,Максимум,Закрытия
0,0,2022-10-03,SNGS,20840,6.097908e+08,18.480,18.20,17.850,19.180,18.800
1,1,2022-10-04,SNGS,16137,5.465780e+08,18.790,19.30,18.400,19.300,18.930
2,2,2022-10-05,SNGS,23658,8.268558e+08,18.750,18.86,18.070,19.565,18.890
3,3,2022-10-06,SNGS,12324,3.128213e+08,18.830,19.08,18.500,19.250,18.635
4,4,2022-10-07,SNGS,15165,3.809362e+08,18.055,18.50,17.515,18.520,17.820
...,...,...,...,...,...,...,...,...,...,...
141,141,2023-04-24,SNGS,30820,1.698112e+09,26.075,26.33,25.620,26.695,25.895
142,142,2023-04-25,SNGS,16583,9.340388e+08,25.750,26.03,25.425,26.255,25.685
143,143,2023-04-26,SNGS,14144,6.937397e+08,25.295,25.44,24.830,25.595,25.235
144,144,2023-04-27,SNGS,10855,5.336006e+08,25.375,25.19,25.050,25.600,25.550
145,145,2023-04-28,SNGS,8223,3.628654e+08,25.210,25.56,24.910,25.600,25.210

In [37]:
si = pd.read_csv('Si_okt-may_v2.csv')
si

,Unnamed: 0,Дата,Кодфьючерса,Средне-взвешеннаяцена за лот,Расчетнаяцена,Ценапервойсделки,Максим.цена,Миним.цена,Ценапоследнейсделки,Изменение,"Объемпоследнейсделки,контр.",Числосделок,Объем торгов,Объем торгов.1,Объем открытыхпозиций,Объем открытыхпозиций.1,РазмерыГО(руб./контракт)
0,0,2022-10-03,SiZ2,57876.0,58172.0,58398.0,59280.0,56865.0,58147.0,"-0,36 %",3.0,651422.0,1.187031e+11,2050990.0,368860740608.0,6340864.0,9359.0
1,1,2022-10-04,SiZ2,58227.0,57802.0,58179.0,58942.0,57543.0,57800.0,"-0,60 %",1.0,465209.0,8.294720e+10,1424556.0,367415638504.0,6356452.0,9304.0
2,2,2022-10-05,SiZ2,58968.0,59744.0,57884.0,60160.0,57220.0,59777.0,"+3,42 %",10.0,556739.0,1.003433e+11,1701652.0,376773026752.0,6306458.0,9561.0
3,3,2022-10-06,SiZ2,59710.0,59800.0,59790.0,60360.0,59111.0,59800.0,"+0,04 %",16.0,424645.0,7.805739e+10,1307265.0,376656040800.0,6298596.0,9672.0
4,4,2022-10-07,SiZ2,60093.0,58608.0,59779.0,60995.0,58545.0,58598.0,"-2,01 %",33.0,536925.0,1.147524e+11,1909587.0,369221491584.0,6299848.0,9662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,141,2023-04-24,SiM3,80303.0,80339.0,80709.0,80747.0,79937.0,80320.0,"-0,42 %",1.0,175944.0,6.550129e+10,815677.0,298791345748.0,3719132.0,12843.0
142,142,2023-04-25,SiM3,80570.0,80414.0,80369.0,80970.0,80111.0,80422.0,"+0,13 %",29.0,186775.0,8.168580e+10,1013853.0,318458739360.0,3960240.0,12880.0
143,143,2023-04-26,SiM3,80604.0,80734.0,80398.0,80870.0,80243.0,80739.0,"+0,39 %",1.0,172507.0,5.346313e+10,663281.0,319420518704.0,3956456.0,12881.0
144,144,2023-04-27,SiM3,80554.0,80370.0,80704.0,81175.0,80065.0,80341.0,"-0,49 %",3.0,192273.0,6.705857e+10,832472.0,319088510280.0,3970244.0,12826.0
145,145,2023-04-28,SiM3,79299.0,79372.0,80339.0,80676.0,78250.0,79380.0,"-1,20 %",2.0,366794.0,1.410691e+11,1778940.0,326012076568.0,4107394.0,12639.0

In [24]:
dates_taxes = sgns['Дата торгов'].to_frame()

dates_taxes['День'] = dates_taxes['Дата торгов'].apply(lambda x: int(x.replace('-', ""))%100)
dates_taxes #нашли день месяца, чтобы далее понять, относится ли он к налоговому периоду

    Дата торгов  День
0    2022-10-03     3
1    2022-10-04     4
2    2022-10-05     5
3    2022-10-06     6
4    2022-10-07     7
..          ...   ...
141  2023-04-24    24
142  2023-04-25    25
143  2023-04-26    26
144  2023-04-27    27
145  2023-04-28    28

[146 rows x 2 columns]

In [47]:
#примем за условие, что валютная выручка в среднем продается 22-28 числа, и в этот момент рубль укрепляется

dates_taxes['Налоговый период'] = np.where(((dates_taxes['День']>=22) & (dates_taxes['День']<=28)), 1, 0)
siprice = si[['Средне-взвешеннаяцена за лот', 'Дата']]
dt_tx_pr = dates_taxes.merge(sgprice, how='left', on='Дата торгов')
sip = siprice['Средне-взвешеннаяцена за лот']
dates_taxes

    Дата торгов  День  Налоговый период
0    2022-10-03     3                 0
1    2022-10-04     4                 0
2    2022-10-05     5                 0
3    2022-10-06     6                 0
4    2022-10-07     7                 0
..          ...   ...               ...
141  2023-04-24    24                 1
142  2023-04-25    25                 1
143  2023-04-26    26                 1
144  2023-04-27    27                 1
145  2023-04-28    28                 1

[146 rows x 3 columns]

In [65]:
df_r = sip.diff() / sip.shift(1)
df_r = df_r.iloc[1:]
df_r = df_r.to_frame()

df_r['Дата торгов'] = dates_taxes['Дата торгов'][1:]
df_r['Динамика'] = np.where(df_r['Средне-взвешеннаяцена за лот']>=0, 0, 1)
df_r = df_r.rename(columns={"Средне-взвешеннаяцена за лот": "Процентное изменение"})
aggreg = df_r.merge(dates_taxes, on='Дата торгов', how='left')
hypotesis1 = aggreg[['Динамика', 'Налоговый период']]
hypotesis1 #вытащили признаки, которые нам нужны для конфьюжн матрикс, учитывая, что 1 и 1 - это условие роста рубля

     Динамика  Налоговый период
0           0                 0
1           0                 0
2           0                 0
3           0                 0
4           1                 0
..        ...               ...
140         1                 1
141         0                 1
142         0                 1
143         1                 1
144         1                 1

[145 rows x 2 columns]

Для нашей гипотезы предположим, что если рубль укрепляется, то это 1. Если налоговый период, то также 1. То есть при 1 и 1 или 0 и 0 наша гипотеза верна. Построим таблицу.

In [54]:
ct_o = hypotesis1.groupby('Налоговый период')['Динамика'].value_counts().unstack()
ct_o

Динамика           0   1
Налоговый период
0                 72  39
1                 21  13

In [60]:
accuracy = (72+13)/(72+13+39+21)

print(f'Accuracy = {accuracy}') #рандомайзер получается с нашими правильными ответами

Accuracy = 0.5862068965517241

In [64]:
scipy.stats.chi2_contingency(ct_o, correction=False)

(0.10875557720908754,
 0.7415653654562604,
 1,
 array([[71.19310345, 39.80689655],
        [21.80689655, 12.19310345]]))

Видим, что результаты очень плохие ;) Это потому что у нас мало наблюдений, а еще потому что в нашей гипотезе неверно обратное: если налогового периода нет, то вообще-то это совсем не значит, что рубль будет слабеть. А вот у прямого утверждения есть теоретическое подкрепление, но для российского рынка оно не работает. Всегда есть факторы того, что макроэкономика неактуальна - очень много разных политических событий, а также штук, подконтрольных ЦБ, которые влияют на курс рубля и доллара. Однако если смотреть на горизонте пошире, ошибка будет уменьшаться.